html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 133px 0 0 0;
  color: #282829;
  font-weight: 300;
  font-size: 25px;
  font-family: canada-type-gibson,Arial,sans-serif!important;
  line-height: 1.5;
  background-color: #DF9;

}

body::after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

div {
  display: block;
}


*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.drift-facade-img {
  border-radius: .3125rem;
  background-color: #0b0975;
}

.drift {
  position: fixed;
  right: 24px;
  bottom: 37px;
  z-index: 101;
  width: 400px;
  height: 110px;
}

.drift .drift-shown {
  display: block;
}

.drift .drift-hidden {
  display: none;
}

.drift-widget {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 220px;
  height: 96px;
  cursor: pointer;
}

.drift-widget-message {
    position: fixed;
    right: 109px;
    bottom: 37px;
    z-index: 3;
    margin: 0 0 0 12px;
    height: auto;
    color: #212021;
    -webkit-box-shadow: 0 7px 6px 1px rgba(0,0,0,.16);
    box-shadow: 0 7px 6px 1px rgba(0,0,0,.16);
    border-radius: 4px;
    background-color: #fff;
    outline: 0;

}

.drift-widget .drift-close-button {
  position: absolute;
  top: -5px;
  left: -24px;
  z-index: 1;
  margin: 2px 0 0;
  padding: 4px;
  width: 20px;
  height: 20px;
  line-height: 12px;
  opacity: 1;
  -webkit-box-shadow: 0 2px 10px 0 rgba(53,63,69,.15),0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 10px 0 rgba(53,63,69,.15),0 1px 2px 0 rgba(0,0,0,.2);
  border: 1px solid #fff;
  border-radius: 50%;
  background: #687882;
  cursor: pointer;
}

.drift-widget .drift-close-button:hover {
  background: #414141;
}

.drift-widget-avatar{
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: .3125rem;
  border-radius: 0.3125rem;
}

.drift-widget-message p {
  margin: 0;
  padding: 10px;
  max-width: 220px;
  max-height: 96px;
  color: #212021;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #fff;
}


.drift-facade {
  position: fixed;
  right: 37px;
  bottom: 37px;
  z-index: 2;
  width: 55px;
  height: 55px;
  -webkit-box-shadow: 0 0 8px 4px rgba(0,0,0,.16);
  box-shadow: 0 0 8px 4px rgba(0,0,0,.16);
  border-radius: .3125rem;
  cursor: pointer;
}

.chat-opened {
  background-color: #0176ff;
}

[am-loader~="linear-dot"] {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  display: block;
}

.drift .drift-loader {
  top: 3px;
  right: 2px;
  display: block;
  position: absolute;

}

.drift .hide-loader {
  display: none;
}

.drift-facade-img {
  border-radius: .3125rem;
  background-color: #0176ff;
}

.drift-icon-unread {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 21px;
  border-radius: 50%;
  background-color: #d0241b;
}

img, #svgProcessCycle {
  max-width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.spinner-3 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(255 255 255/50%) 30%,#0000 0 70%,rgb(255 255 255/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(255 255 255/25%) 30%,#0000 0 70%,rgb(255 255 255/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.spinner-3::before,
.spinner-3::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.spinner-3::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes s3 {
  100% {transform: rotate(1turn)}
}
